.container{
  position: relative;
  overflow-x: hidden;
  overflow-

}
.header{
  font-size:30px;
  position: absolute;
  text-align: center;
  top: 200px;
  left:250px;
  color: white;
}
.form {
  position: absolute;
  top: 300px;

}
input  {
  background-color: #3CBC8D;
  color: white;
