.container {
  position:relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
.head {
  position:absolute;
  top:100px;
  left: 150px;
  text-align: center;
}
.head  h1 {
    color:white;
    font-size:60px;
    font-family: 'Shojumaru', cursive;
    text-shadow: 5px 2px #ff0000;
}
.container .facts {
  color:white;
  font-size:20px

}
.facts {
  font-family: 'Coming Soon', cursive;


}
h2{
    font-family: 'Shojumaru', cursive;
    color: white;
}
button {
    font-family: 'Shojumaru', cursive;
    width: 50px;
}
span {
  color:red;
}
ul li {
  list-style: none;
}
.row {
  position:absolute;
  align:center;
  top:1000px
}
.row .col-md-4 {
  left: 100px
}
 .col-md-4 a:hover{
  color:red;
}

p input {
  width:300px;
  height: 45px;
  font-family: 'Coming Soon', cursive;
  font-size: 30px;
  background-color:blue;
  color: black;
  font-weight:20px;

}
p input:hover {
  color: red;
}
button {
  width: 100px;
}

rowOne {
  display: flex;
}
.rowOne.colOne {
  flex: left;

}
h3 {
  color: red;
  font-style: italic;
  font-weight: bolder;
}
